*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* --------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    padding: 1.5rem 2rem;
}

.logo{
    vertical-align: middle;
    margin-right: .5rem;
}

.collegamenti{
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.bottone{

    color: white;
    padding: 0.5rem 1rem;
    background-color: #0061ff;
    border: none;
    font-size: 1.1rem;
}

/* ------------------------ */


.introduzione{
    background-color: #b4d0e7;
    height: 80vh;
}

.contenuto{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

h1{
    font-size: 5rem;
    padding-top: 3.5rem;
    font-weight: 800;
}

.junbo{
    width: 66%;
    position: absolute;
    top: 44%;
    left: 25%;
}

.testo{

    margin-top: 3rem;
    width: 25%;
}

.prova-gratuita{
    margin-top: 3rem;

}

.fa-arrow-down{
    font-size: 3rem;
    margin-top: 5rem;
}

/* ------------------ */

.più-contenuti{
    width: 60%;
    margin: 0 auto;
}

.titoletto{

    margin-top: 10rem;
    font-size: 2.5rem;

}

.fatturazione{
    display: inline-block;
    margin: 2rem 0;
    margin-right: 1rem;
}

.card{
  width:calc((100% / 3) - 3rem);  
  height: 110vh;
  background-color: red;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.plus-card{
    width: 100%;
    margin: 3rem 0;
    background-color: red;
    height: 30vh;
}


/* ----------------- */

.margine-top{
    margin-top: 10rem;
}

.partner{

    width: 60%;
    float: left;
}

.content-partner{

    float: left;
 
    width:calc(100% / 3);

    margin-top: 2.5rem;
    margin-left: 3rem;
}

.margine-top-bottom{
    margin: 2rem 0;
}

.trova{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid black;
}

.clearfix::after{

    content: "";
    clear: both;
    display: table;
}


/* --------------- */

.spiegazioni{
    width: 100%;
}

h3{
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem 0;
}



.margine-bottom{

    margin-bottom: 3rem;
}
.colonne-margine{
    
    width:calc((100% / 3) - 3rem);
}

.margine-right{
    margin-right: 3rem;
}

.margin-top-little{
    margin-top: 3rem;
}

.wrap{
    flex-wrap: wrap;
}


/* ------------ */


.size-text{
    width: 60%;
}


/* -------------- */

.sfondo{
    margin-top: 10rem;
    height: 67.7vh;
    background-color: #f5f5f5;
}




.contenitore{
    width:calc(100% /2);
    height:calc(100% /2);
    position: relative;
}

.icon{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.central-icon{
    width: 40%;
    margin-top: 3rem;
    margin-left: 3rem;
}

.riga{
    width: 16.5%;
    margin-left: 3rem;
    margin-top: 3rem;
    border-top: #d0d0d3 solid 1px;
}



.paragrafo-centrale{
    width: 80%;
    margin-left: 3rem;
    margin-top: 3rem;
}

.scritte{
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    justify-content: flex-start;
}

.colonne {

    width: calc(100% / 3);
}

.verde{
    background-color: #a2d39b ;
    border: 15px solid #d1e9cd;
}

.baige{

    background-color: #61082b;
}

.celeste-scruro {

    background-color: #0093ce ;
}

.rosso-chiaro {

    background-color: #ff1c1c;
}

.rosso {

    background-color: #d5001f;
}
.celeste {

    background-color: #b4d0e7 ;
}
.blu {

    background-color: #0d2481 ;
}
.giallo {

    background-color: #ffd830 ;
}

/* ----------- */

.colore-sfondo{
    height: 40vh;
    background-color: #b4d0e7;
}

.inline-block{
    display: inline-block;
}

/* ------------ */


.margine{
    margin: 10rem auto;
}





/* ---------------- */








.sfondo-footer{

    height: 50vh;
    background-color: black;
}

ul{
    color: white;
    list-style-type: none;
}

.down-footer{
    color: #999999;
}

/* ------------- */