*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* --------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    padding: 1.5rem 2rem;
}

.logo{
    vertical-align: middle;
    margin-right: .5rem;
}

.collegamenti{
    text-decoration: none;
    color: black;
    margin: 1rem;
}

.bottone{

    color: white;
    padding: 0.5rem 1rem;
    background-color: #0061ff;
    border: none;
    font-size: 1.1rem;
}

/* ------------------------ */


.introduzione{
    background-color: #b4d0e7;
    height: 80vh;
}

.contenuto{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

h1{
    font-size: 5rem;
    padding-top: 3.5rem;
    font-weight: 800;
}

.junbo{
    width: 66%;
    position: absolute;
    top: 44%;
    left: 25%;
}

.testo{

    margin-top: 3rem;
    width: 25%;
}

.prova-gratuita{
    margin-top: 3rem;

}

.fa-arrow-down{
    font-size: 3rem;
    margin-top: 5rem;
}

/* ------------------ */

.altro-contenuto{
    width: 60%;
    margin: 0 auto;
}

h2{

    margin-top: 10rem;
    font-size: 2.5rem;

}

.fatturazione{
    display: inline-block;
    margin: 2rem 0;
    margin-right: 1rem;
}

.card{
  width:calc((100% / 3) - 3rem);  
  height: 800px;
  background-color: red;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.plus-card{
    width: 100%;
    margin: 3rem 0;
    background-color: red;
    height: 150px;
}